In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('nfl_betting_df.csv', index_col = 0)

In [5]:
pd.DataFrame(df.home_id.unique())

      0
0    GB
1   IND
2    KC
3   DAL
4   MIA
5   MIN
6    TB
7   BUF
8   CHI
9   DEN
10  LAR
11   NO
12  NYJ
13  PHI
14  SEA
15  ARI
16  WAS
17   NE
18  DET
19  NYG
20  PIT
21  LAC
22   SF
23  ATL
24  CIN
25  CLE
26  TEN
27  OAK
28  JAX
29  CAR
30  BAL
31  HOU